Repository sotatek-dev/GZ_user_site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, yarn format

fix: status when user can't join
  src/modules/common/utils/functions.ts
Due: eslint, yarn format

feat: check buy
  .eslintrc.json
  src/modules/purchase/ModalPurchase.tsx
  src/modules/web3/contracts/instance.ts
Due: eslint, yarn format

fix: ingore
  .eslintrc.json
  src/modules/purchase/ModalPurchase.tsx
  src/modules/web3/contracts/instance.ts
Due: eslint, yarn format

fix: call api token gxz
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

fix: add dependency
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

fix: add dependency amount
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

fix: up
  src/modules/common/hooks/useTokenPresaleGetList.ts
Due: eslint, yarn format

fix: call network error
  src/modules/common/utils/functions.ts
Due: eslint, yarn format

fix: refresh clamable dnft counts
  src/modules/my-profile/components/MyDNFT/MyDNFT.tsx
  src/modules/my-profile/components/MyDNFT/RefreshDNFTList/RefreshDNFTList.tsx
Due: eslint, yarn format

build: add next image domain for merge function
  .env.development
  .env.example
  next.config.js
Due: none

fix: show btton buy
  src/pages/token-presale-rounds/detail/[index].tsx
Due: eslint, yarn format

fix: validate max buy
  src/modules/purchase/ModalPurchase.tsx
  src/pages/token-presale-rounds/detail/[index].tsx
Due: eslint, yarn format

fix: ms when amount must be than 0
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

build: add next image domain
  .env.development
  next.config.js
Due: none

fix: remove hardcode
  .env.development
  .env.example
  src/modules/web3/constants/networks.ts
Due: eslint, yarn format

fix: wallet connect config
  .env.development
  src/modules/web3/connectors/injected.ts
Due: eslint, yarn format

fix: buy max token gxz
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

fix: env example
  .env.example
Due: none

fix: buy max limit
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

fix: buy limit
  src/modules/purchase/ModalPurchase.tsx
Due: eslint, yarn format

fix: build fail
  src/pages/token-presale-rounds/detail/[index].tsx
Due: eslint, yarn format

fix: claim all dnfts
  src/apis/myProfile.tsx
  src/modules/my-profile/components/MyDNFT/MyDNFT.tsx
  src/modules/my-profile/components/MyDNFT/RefreshDNFTList/RefreshDNFTList.tsx
  src/stores/my-profile/index.ts
Due: eslint, yarn format

fix: loading balance state
  src/modules/my-profile/components/BuyInfo/BuyAlert/BuyAlert.tsx
  src/modules/my-profile/components/BuyInfo/BuyInfo.tsx
  src/modules/web3/hooks/useUpdateBalance.ts
  src/modules/web3/queries/useBalance.ts
  src/pages/mint-dnft/index.tsx
  src/stores/wallet/index.ts
Due: eslint, yarn format

fix: build error
  src/pages/rescue-nft/index.tsx
Due: eslint, yarn format

fix: rollback dnfts pagination
  src/modules/my-profile/components/MyDNFT/MyDNFT.tsx
Due: eslint, yarn format

fix: wait to claim all done to remove loading
  src/modules/my-profile/components/MyDNFT/MyDNFT.tsx
Due: eslint, yarn format

fix: price convert bnb
  src/modules/purchase/ModalPurchase.tsx
  src/modules/web3/contracts/instance.ts
  src/modules/web3/contracts/useContractTokenSale.ts
Due: eslint, yarn format

fix: responsive connect wallet modal
  src/modules/wallet/connect/ConnectWallet.tsx
Due: eslint, yarn format

fix: responsive connect wallet modal
  public/icons/metamask.svg
  src/modules/wallet/connect/ConnectWallet.tsx
Due: eslint, yarn format

fix: change text
  src/modules/common/layouts/index.tsx
Due: eslint, yarn format

fix: busd abi
  src/modules/web3/abis/bep20.json
Due: yarn format

build: update contract prod
  src/modules/web3/abis/abi-dnft.json
  src/modules/web3/abis/abi-keynft.json
  src/modules/web3/abis/abi-presalepool.json
Due: yarn format

fix: not block walletconnect connecting when admin do not have metamask wallet
  src/modules/web3/hooks/useConnectWallet.ts
Due: eslint, yarn format

build: update contract
  .env.uat
  src/modules/web3/abis/abi-dnft.json
Due: yarn format

build: update contract
  .env.uat
  src/modules/web3/abis/abi-keynft.json
Due: yarn format

fix: update contract uat
  .env.uat
Due: none

build: update env
  .env.uat
Due: none

fix: add env
  .env.uat
Due: none

fix: dnft contract
  .env.uat
Due: none

chore: uat update
  .env.uat
  src/modules/web3/abis/abi-dnft.json
  src/modules/web3/abis/abi-keynft.json
  src/modules/web3/abis/abi-presalepool.json
Due: yarn format

Path conditions:
  eslint: any of: ./src/**/*.{ts,tsx}
  yarn format: any of: ./src/**
